@mixin space-y($space) {
	--tw-space-y-reverse: 0;
	margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

@mixin space-x($space) {
	--tw-space-xreverse: 0;
	margin-right: calc(1rem * calc(1 - var(--tw-space-xreverse)));
	margin-left: calc(1rem * var(--tw-space-x-reverse));
}

@mixin antialiased() {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// body
@mixin hook-base-body() {
	@include antialiased();
}

@mixin hook-margin-misc() {
	.uk-margin-vertical {
		margin: $global-margin 0;
	}

	.uk-margin-horizontal {
		margin: 0 $global-margin;
	}

	.uk-margin-xsmall {
		margin-bottom: $global-xsmall-margin;
	}

	* + .uk-margin-xsmall {
		margin-top: $global-xsmall-margin !important;
	}

	.uk-margin-xsmall-top {
		margin-top: $global-xsmall-margin !important;
	}

	.uk-margin-xsmall-bottom {
		margin-bottom: $global-xsmall-margin !important;
	}

	.uk-margin-xsmall-left {
		margin-left: $global-xsmall-margin !important;
	}

	.uk-margin-xsmall-right {
		margin-right: $global-xsmall-margin !important;
	}

	.uk-margin-xsmall {
		margin: $global-xsmall-margin;
	}

	@media (min-width: $breakpoint-medium) {
		.uk-margin-large-top\@m {
			margin-top: $global-large-margin;
		}
	}
}

@mixin hook-padding-misc() {
	.uk-padding-xsmall {
		padding: $global-xsmall-gutter;
	}

	.uk-padding-xsmall-vertical {
		padding: $global-xsmall-gutter 0;
	}

	.uk-padding-xsmall-horizontal {
		padding: 0 $global-xsmall-gutter;
	}

	.uk-padding-xsmall-top {
		padding-top: $global-xsmall-gutter;
	}

	.uk-padding-xsmall-bottom {
		padding-bottom: $global-xsmall-gutter;
	}

	.uk-padding-xsmall-left {
		padding-left: $global-xsmall-gutter;
	}

	.uk-padding-xsmall-right {
		padding-right: $global-xsmall-gutter;
	}

	.uk-padding-vertical-small {
		padding: $global-small-gutter 0;
	}

	.uk-padding-horizontal-small {
		padding: 0 $global-small-gutter;
	}

	.uk-padding-small-top {
		padding-top: $global-small-gutter;
	}

	.uk-padding-small-bottom {
		padding-bottom: $global-small-gutter;
	}

	.uk-padding-small-left {
		padding-left: $global-small-gutter;
	}

	.uk-padding-small-right {
		padding-right: $global-small-gutter;
	}

	.uk-padding-medium-vertical {
		padding: $global-medium-gutter 0;
	}

	.uk-padding-medium-horizontal {
		padding: 0 $global-medium-gutter;
	}

	.uk-padding-medium-top {
		padding-top: $global-medium-gutter;
	}

	.uk-padding-medium-bottom {
		padding-bottom: $global-medium-gutter;
	}

	.uk-padding-medium-left {
		padding-left: $global-medium-gutter;
	}

	.uk-padding-medium-right {
		padding-right: $global-medium-gutter;
	}

	.uk-padding-large-vertical {
		padding: $global-large-gutter 0;
	}

	.uk-padding-large-horizontal {
		padding: 0 $global-large-gutter;
	}

	.uk-padding-large-top {
		padding-top: $global-large-gutter;
	}

	.uk-padding-large-bottom {
		padding-bottom: $global-large-gutter;
	}

	.uk-padding-large-left {
		padding-left: $global-large-gutter;
	}

	.uk-padding-large-right {
		padding-right: $global-large-gutter;
	}

	.uk-padding-xlarge {
		padding: $global-xlarge-gutter;
	}

	.uk-padding-xlarge {
		padding: $global-xlarge-gutter;
	}

	@media (min-width: $breakpoint-medium) {
		.uk-padding-medium-horizontal\@m {
			padding: 0 $global-medium-gutter;
		}
	}

	/* Desktop and bigger */
	@media (min-width: $breakpoint-large) {
		.uk-padding-xlarge {
			padding: $global-xlarge-gutter;
		}

		.uk-padding-xlarge\@l {
			padding: $global-xlarge-gutter;
		}
	}
}

//@mixin hook-text-background() {
//	background-image: $text-background-gradient;
//}


@mixin hook-text-misc() {
	.uk-text-white {
		color: $global-inverse-color !important;
	}
}

// navbar
@mixin hook-navbar-nav-item() {
	transition: 0.1s ease-in-out;
	transition-property: color, background-color, border-color, box-shadow;
	position: relative;
	//z-index: -1;
	font-weight: 500;
	cursor: pointer;

	&::before {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		top: 0;
		height: 2px;
		background-color: transparent;
		transition: 0.3s ease-in-out;
		transition-property: background-color, border-color, box-shadow, height,
			left, right, opacity;
		--uk-navbar-nav-item-line-margin-horizontal: 0;
		left: var(--uk-navbar-nav-item-line-margin-horizontal);
		left: 50%;
		right: 50%;
	}
}

@mixin hook-navbar-nav-item-hover() {
	&::before {
		left: var(--uk-navbar-nav-item-line-margin-horizontal);
		right: var(--uk-navbar-nav-item-line-margin-horizontal);
		background-color: $global-link-hover-color;
	}
}

@mixin hook-navbar-nav-item-onclick() {
	&::before {
		background-color: $global-primary-background;
	}
}

@mixin hook-navbar-nav-item-active() {
	&::before {
		left: var(--uk-navbar-nav-item-line-margin-horizontal);
		right: var(--uk-navbar-nav-item-line-margin-horizontal);
		background-color: $global-primary-background;
	}
}

@mixin hook-navbar-misc() {
	@media (min-width: $breakpoint-medium) {
		.uk-sticky-fixed  > .uk-navbar-container:not(.uk-navbar):not(.uk-navbar-transparent) {
			transition: 0.2s linear;
			transition-property: padding;
		}

		:not(.uk-sticky-below) > .uk-navbar-container:not(.uk-navbar) {
			padding-top: 0.625rem;
			padding-bottom: 0.625rem;
		}
	}
}

// buttons
@mixin hook-button() {
	transition: 0.1s ease-in-out;
	transition-property: color, background-color, background-position,
		background-size, border-color, box-shadow;
	@extend .uk-text-bold;
}

@mixin hook-button-default() {
	border-color: $global-emphasis-color;
}

@mixin hook-button-default-hover() {
	background-color: $global-secondary-background;
	color: $global-inverse-color;
}

@mixin hook-button-primary() {
	border-color: $global-primary-background;
	border-width: 0.125rem;
}

@mixin hook-button-primary-hover() {
	border-color: $global-primary-background;
}

@mixin hook-button-primary-active() {
	border-color: transparent;
}

@mixin hook-button-secondary() {
	border-color: $global-secondary-background;
	border-width: 0.125rem;
}

@mixin hook-button-secondary-hover() {
	border-color: $global-primary-background;
}

@mixin hook-button-secondary-active() {
	border-color: transparent;
}

@mixin hook-button-danger() {
	border-color: $global-danger-background;
	border-width: 0.125rem;
}

@mixin hook-button-danger-hover() {
	border-color: $global-danger-background;
}

@mixin hook-button-danger-active() {
	border-color: transparent;
}

@mixin hook-button-text() {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 100%;
		border-bottom: 0.125rem solid currentColor;
		transition: right 0.3s ease-out;
	}
}

@mixin hook-button-text-hover() {
	color: $global-primary-background;
	&::before {
		right: 0;
	}
}

@mixin hook-button-misc() {
	.uk-button:not(.uk-button-text, .uk-button-link) {
		border-radius: 0.375rem;
		border-width: 0.125rem;
		border-style: solid;
	}
	.start-now:hover {
		background-color: darken($global-primary-background, 4%);
		border-color: darken($global-primary-background, 4%);
		color: $global-inverse-color;
	}
}

@mixin hook-position-misc() {
	@media (min-width: $breakpoint-large) {
		.uk-position-right\@l {
			top: 0;
			bottom: 0;
			right: 0;
		}
	}
}

@mixin hook-overlay-misc() {
	.uk-overlay-gradient {
		background: linear-gradient(
			0deg,
			rgba($global-secondary-background, 0.65) 0,
			rgba(255, 255, 255, 0) 100%
		);
		//background: linear-gradient(to bottom, rgba(31, 31, 31, 0), rgba(31, 31, 31, .4))
	}
}

@mixin hook-flex-misc() {
	.uk-flex-baseline {
		align-items: baseline;
	}
}

@mixin hook-pagination-item {
	padding: 0.8125rem 0.9375rem;
	background: $global-muted-background;
	line-height: 0.8125rem;
	text-align: center;
	font-size: 0.875rem;
	border-radius: 0.1875rem;
	transition: 0.1s ease-in-out;
	transition-property: color, background-color, border-color, box-shadow;
}

@mixin hook-pagination-item-active {
	background-color: $global-primary-background;
	color: $global-inverse-color;
}

@mixin hook-pagination-item-hover {
	@include hook-pagination-item-active();
}
